In [54]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [55]:
dataset = pd.read_csv('/content/pertumbuhan kangkung sonic bloom (1).csv')
dataset

      no  t_dangdut  t_jazz  t_murottal  t_nomusik  waktu hari ke  hari real
0      1        6.0     5.0         NaN        NaN   7:00    ke-1         11
1      2        6.0     5.0         NaN        NaN   7:08    ke-1         11
2      3        6.0     5.0         NaN        NaN   7:16    ke-1         11
3      4        6.0     5.0         NaN        NaN   7:24    ke-1         11
4      5        6.0     5.0         NaN        NaN   7:32    ke-1         11
..   ...        ...     ...         ...        ...    ...     ...        ...
955  956       25.0    28.0         NaN        NaN  14:52   panen         25
956  957       25.0    28.0         NaN        NaN  15:00   panen         25
957  958       25.0    28.0         NaN        NaN  15:08   panen         25
958  959       25.0    28.0         NaN        NaN  15:16   panen         25
959  960       25.0    28.0         NaN        NaN  15:24   panen         25

[960 rows x 8 columns]

In [56]:
X = dataset.iloc[:, 1:3]
y = dataset.iloc[:, 7]

In [59]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'linear')
regressor.fit(X, y)

SVR(kernel='linear')

In [61]:
regressor.score(X, y)

0.9676885918066286

In [62]:
y_pred = regressor.predict([[22.0, 22.0]])
#y_pred = y.inverse_transform(y_pred) 
y_pred

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  "X does not have valid feature names, but"

array([23.82723527])